<h2>Log in to Bien reviews</h2>

<%= simple_form_for :session, url: session_path do |f| %> <%# We don't have a session model just a symbol %> 
  <%= f.input :username %>
  <%= f.input :password %>

  <%= f.button :submit, "Log in" %>

<% end %>
